.likediv {
    display: flex;
    align-items: center;
    width: 108%;
}

.side {
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
}

.view {
    margin-left: 20px;
}

.like {
    margin-left: 8rem;
}

.vid-body {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 11rem;
    box-shadow: rgba(0, 0, 0, 0.08) 80px 80px 800px;
}

.every-vid {
    margin-top: 5rem;
}

.likedivvv {
    margin-left: 8.5rem;
    width: 55%;
}

.every-vid {
    width: 20.3rem;
    margin: 2rem;
    box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
}
.every-vid:hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
transition: .2s;
}
